@use "../abstract/mixins" as *;
@use "../vendors/mixins-vendor" as *;
@use "../base/root" as *;


.hero__header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--space-xl);
  text-transform: capitalize;
}



.section-hero__header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: var(--space-m);
    text-transform: capitalize;
  &--small {
    padding: 0;
  }
}
