@charset "UTF-8";
$primary: #112945;
$primary-hover: #142f50;
$primary-ultra-light: #ebf1fa;
$primary-light: #c2d6f0;
$primary-medium: #3378cc;
$primary-dark: #1a3c66;
$primary-ultra-dark: #0a1829;
$primary-comp: #452e11;
$secondary: #1893c3;
$secondary-hover: #1ca9e0;
$secondary-ultra-light: #e8f7fc;
$secondary-light: #bbe6f7;
$secondary-medium: #1cabe3;
$secondary-dark: #0e5571;
$secondary-ultra-dark: #06222d;
$secondary-comp: #c34918;
$accent: #af2323;
$accent-hover: #c92828;
$accent-ultra-light: #fbeaea;
$accent-light: #f2bfbf;
$accent-medium: #d52a2a;
$accent-dark: #6a1515;
$accent-ultra-dark: #2b0808;
$accent-comp: #23afaf;
$base: #f2f2f2;
$base-hover: white;
$base-ultra-light: #f7eeee;
$base-light: #e7cbcb;
$base-medium: #ad5252;
$base-dark: #572929;
$base-ultra-dark: #231010;
$base-comp: #f2f2f2;
$white: #fff;
$black: #000;
$alert-red: #b22727;
$alert-green: #3c805c;
$shade: black;
$shade-hover: black;
$shade-ultra-light: #f2f2f2;
$shade-light: #d9d9d9;
$shade-medium: gray;
$shade-dark: #404040;
$shade-ultra-dark: #1a1a1a;
$shade-comp: black;
$primary-trans-10: rgba(17, 41, 69, 0.1);
$primary-trans-20: rgba(17, 41, 69, 0.2);
$primary-trans-40: rgba(17, 41, 69, 0.4);
$primary-trans-60: rgba(17, 41, 69, 0.6);
$primary-trans-80: rgba(17, 41, 69, 0.8);
$primary-trans-90: rgba(17, 41, 69, 0.9);
$primary-ultra-dark-trans-10: rgba(10, 24, 41, 0.1);
$primary-ultra-dark-trans-20: rgba(10, 24, 41, 0.2);
$primary-ultra-dark-trans-40: rgba(10, 24, 41, 0.4);
$primary-ultra-dark-trans-60: rgba(10, 24, 41, 0.6);
$primary-ultra-dark-trans-80: rgba(10, 24, 41, 0.8);
$primary-ultra-dark-trans-90: rgba(10, 24, 41, 0.9);
$primary-light-trans-10: rgba(194, 214, 240, 0.1);
$primary-light-trans-20: rgba(194, 214, 240, 0.2);
$primary-light-trans-40: rgba(194, 214, 240, 0.4);
$primary-light-trans-60: rgba(194, 214, 240, 0.6);
$primary-light-trans-80: rgba(194, 214, 240, 0.8);
$primary-light-trans-90: rgba(194, 214, 240, 0.9);
$secondary-trans-10: rgba(24, 147, 195, 0.1);
$secondary-trans-20: rgba(24, 147, 195, 0.2);
$secondary-trans-40: rgba(24, 147, 195, 0.4);
$secondary-trans-60: rgba(24, 147, 195, 0.6);
$secondary-trans-80: rgba(24, 147, 195, 0.8);
$secondary-trans-90: rgba(24, 147, 195, 0.9);
$secondary-ultra-dark-trans-10: rgba(6, 34, 45, 0.1);
$secondary-ultra-dark-trans-20: rgba(6, 34, 45, 0.2);
$secondary-ultra-dark-trans-40: rgba(6, 34, 45, 0.4);
$secondary-ultra-dark-trans-60: rgba(6, 34, 45, 0.6);
$secondary-ultra-dark-trans-80: rgba(6, 34, 45, 0.8);
$secondary-ultra-dark-trans-90: rgba(6, 34, 45, 0.9);
$secondary-light-trans-10: rgba(187, 230, 247, 0.1);
$secondary-light-trans-20: rgba(187, 230, 247, 0.2);
$secondary-light-trans-40: rgba(187, 230, 247, 0.4);
$secondary-light-trans-60: rgba(187, 230, 247, 0.6);
$secondary-light-trans-80: rgba(187, 230, 247, 0.8);
$secondary-light-trans-90: rgba(187, 230, 247, 0.9);
$accent-trans-10: rgba(175, 35, 35, 0.1);
$accent-trans-20: rgba(175, 35, 35, 0.2);
$accent-trans-40: rgba(175, 35, 35, 0.4);
$accent-trans-60: rgba(175, 35, 35, 0.6);
$accent-trans-80: rgba(175, 35, 35, 0.8);
$accent-trans-90: rgba(175, 35, 35, 0.9);
$accent-ultra-dark-trans-10: rgba(43, 8, 8, 0.1);
$accent-ultra-dark-trans-20: rgba(43, 8, 8, 0.2);
$accent-ultra-dark-trans-40: rgba(43, 8, 8, 0.4);
$accent-ultra-dark-trans-60: rgba(43, 8, 8, 0.6);
$accent-ultra-dark-trans-80: rgba(43, 8, 8, 0.8);
$accent-ultra-dark-trans-90: rgba(43, 8, 8, 0.9);
$accent-light-trans-10: rgba(242, 191, 191, 0.1);
$accent-light-trans-20: rgba(242, 191, 191, 0.2);
$accent-light-trans-40: rgba(242, 191, 191, 0.4);
$accent-light-trans-60: rgba(242, 191, 191, 0.6);
$accent-light-trans-80: rgba(242, 191, 191, 0.8);
$accent-light-trans-90: rgba(242, 191, 191, 0.9);
$base-trans-10: rgba(242, 242, 242, 0.1);
$base-trans-20: rgba(242, 242, 242, 0.2);
$base-trans-40: rgba(242, 242, 242, 0.4);
$base-trans-60: rgba(242, 242, 242, 0.6);
$base-trans-80: rgba(242, 242, 242, 0.8);
$base-trans-90: rgba(242, 242, 242, 0.9);
$base-ultra-dark-trans-10: rgba(35, 16, 16, 0.1);
$base-ultra-dark-trans-20: rgba(35, 16, 16, 0.2);
$base-ultra-dark-trans-40: rgba(35, 16, 16, 0.4);
$base-ultra-dark-trans-60: rgba(35, 16, 16, 0.6);
$base-ultra-dark-trans-80: rgba(35, 16, 16, 0.8);
$base-ultra-dark-trans-90: rgba(35, 16, 16, 0.9);
$base-light-trans-10: rgba(231, 203, 203, 0.1);
$base-light-trans-20: rgba(231, 203, 203, 0.2);
$base-light-trans-40: rgba(231, 203, 203, 0.4);
$base-light-trans-60: rgba(231, 203, 203, 0.6);
$base-light-trans-80: rgba(231, 203, 203, 0.8);
$base-light-trans-90: rgba(231, 203, 203, 0.9);
$white-trans-10: rgba(255, 255, 255, 0.1);
$white-trans-20: rgba(255, 255, 255, 0.2);
$white-trans-40: rgba(255, 255, 255, 0.4);
$white-trans-60: rgba(255, 255, 255, 0.6);
$white-trans-80: rgba(255, 255, 255, 0.8);
$white-trans-90: rgba(255, 255, 255, 0.9);
$black-trans-10: rgba(0, 0, 0, 0.1);
$black-trans-20: rgba(0, 0, 0, 0.2);
$black-trans-40: rgba(0, 0, 0, 0.4);
$black-trans-60: rgba(0, 0, 0, 0.6);
$black-trans-80: rgba(0, 0, 0, 0.8);
$black-trans-90: rgba(0, 0, 0, 0.9);
$shade-trans-10: rgba(0, 0, 0, 0.1);
$shade-trans-20: rgba(0, 0, 0, 0.2);
$shade-trans-40: rgba(0, 0, 0, 0.4);
$shade-trans-60: rgba(0, 0, 0, 0.6);
$shade-trans-80: rgba(0, 0, 0, 0.8);
$shade-trans-90: rgba(0, 0, 0, 0.9);
$shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
$shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
$shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
$shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
$shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
$shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
$shade-light-trans-10: rgba(217, 217, 217, 0.1);
$shade-light-trans-20: rgba(217, 217, 217, 0.2);
$shade-light-trans-40: rgba(217, 217, 217, 0.4);
$shade-light-trans-60: rgba(217, 217, 217, 0.6);
$shade-light-trans-80: rgba(217, 217, 217, 0.8);
$shade-light-trans-90: rgba(217, 217, 217, 0.9);
$shade-white: #fff;
$shade-black: #000;
$text-xs: var(--text-xs);
$text-s: var(--text-s);
$text-m: var(--text-m);
$text-l: var(--text-l);
$text-xl: var(--text-xl);
$text-xxl: var(--text-xxl);
$h6: var(--h6);
$h5: var(--h5);
$h4: var(--h4);
$h3: var(--h3);
$h2: var(--h2);
$h1: var(--h1);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-xxl: var(--space-xxl);
$section-space-xs: var(--section-space-xs);
$section-space-s: var(--section-space-s);
$section-space-m: var(--section-space-m);
$section-space-l: var(--section-space-l);
$section-space-xl: var(--section-space-xl);
$section-space-xxl: var(--section-space-xxl);
$width-xs: var(--width-xs);
$width-s: var(--width-s);
$width-m: var(--width-m);
$width-l: var(--width-l);
$width-xl: var(--width-xl);
$width-xxl: var(--width-xxl);
$width-vp-max: var(--width-vp-max);
$width-50: var(--width-50);
$width-full: var(--width-full);
$radius-xs: var(--radius-xs);
$radius-s: var(--radius-s);
$radius-m: var(--radius-m);
$radius-l: var(--radius-l);
$radius-xl: var(--radius-xl);
$radius-xxl: var(--radius-xxl);
$radius-50: var(--radius-50);
$radius-circle: var(--radius-circle);
$section-padding-x: var(--section-padding-x);
$section-gutter: var(--section-gutter);
$btn-border-size: var(--btn-border-size);
$outline-btn-border-size: var(--outline-btn-border-size);
$btn-pad-y: var(--btn-pad-y);
$btn-pad-x: var(--btn-pad-x);
$btn-radius: var(--btn-radius);
$btn-text-transform: var(--btn-text-transform);
$btn-text-style: var(--btn-text-style);
$btn-letter-spacing: var(--btn-letter-spacing);
$btn-line-height: var(--btn-line-height);
$btn-text-decoration: var(--btn-text-decoration);
$btn-weight: var(--btn-weight);
$btn-width: var(--btn-width);
$primary-h: var(--primary-h);
$primary-s: var(--primary-s);
$primary-l: var(--primary-l);
$secondary-h: var(--secondary-h);
$secondary-s: var(--secondary-s);
$secondary-l: var(--secondary-l);
$accent-h: var(--accent-h);
$accent-s: var(--accent-s);
$accent-l: var(--accent-l);
$base-h: var(--base-h);
$base-s: var(--base-s);
$base-l: var(--base-l);
$shade-h: var(--shade-h);
$shade-s: var(--shade-s);
$shade-l: var(--shade-l);
$header-height: var(--header-height);
$offset: var(--offset);
